@import "color";

.auth {
    display: flex;
    justify-content: center;
    align-items: center;

    &-form {
        width: 100%;
        max-width: 480px;
        padding: 36px 24px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid rgba($primary-color, 0.4);
        border-radius: 8px;
        background-color: $primary-color-25;

        h1 {
            margin: 0;
            margin-bottom: 36px;
        }

        &-field {
            width: inherit;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 24px;
        }

        &-label {
            color: $primary-color-65;
            font-weight: 600;
        }

        &-input {
            width: inherit;
            background-color: transparent;
            color: $primary-color;
            font-weight: 300;
            padding: 12px 0px;
            outline: none;
            border: none;
            border-bottom: 1px solid $primary-color-55;
        }

        &-input:focus,
        &-input:hover {
            border-bottom: 1px solid $primary-color;
        }

        &-input::placeholder {
            color: $primary-color-65;
        }

        &-button {
            width: inherit;
            background-color: $primary-color;
            color: $primary-color-25;
            border: none;
            border-radius: 4px;
            margin-top: 12px;
            margin-bottom: 36px;
            padding: 16px;
            font-size: 1.25rem;
            font-weight: 700;
            cursor: pointer;
        }

        &-button:hover {
            background-color: $primary-color-65;
        }

        a {
            color: $primary-color;
        }

        a:hover {
            color: $primary-color-65;
        }
    }
}
