@import "color";

.auth {
    display: flex;
    justify-content: center;
    align-items: center;

    &-form {
        width: 100%;
        max-width: 480px;
        padding: 36px 24px;
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid rgba(#000, 0.1);
        border-radius: 8px;
        background-color: #fff;

        h1 {
            margin: 0;
            margin-bottom: 36px;
        }

        &-field {
            width: inherit;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 24px;
        }

        &-label {
            color: rgba(#000, 0.8);
            font-weight: 600;
        }

        &-input {
            width: inherit;
            background-color: #fff;
            font-weight: 300;
            padding: 12px 0px;
            outline: none;
            border: none;
            border-bottom: 1px solid rgba(#000, 0.4);
            transition: all 0.2s ease-in-out;
        }

        &-input:focus,
        &-input:hover {
            border-bottom: 1px solid #000;
        }

        &-button {
            width: inherit;
            background-color: #fff;
            border: none;
            border-radius: 4px;
            border: 1px solid rgba(#000, 0.1);
            margin-top: 12px;
            margin-bottom: 36px;
            padding: 16px;
            font-size: 1.25rem;
            font-weight: 700;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }

        &-button:hover {
            background-color: rgba(#000, 0.1);
        }

        a:visited {
            color: blue;
        }
    }
}
