$primary-color: #366cd8;
$primary-color-95: #3d79f2;
$primary-color-75: #3060bf;
$primary-color-65: #2953a6;
$primary-color-55: #23468c;
$primary-color-45: #1d3973;
$primary-color-35: #162d59;
$primary-color-25: #102040;
$primary-color-15: #0a1326;
$primary-color-5: #03060d;
